<section class="bg-emerald-50">
    <div class="container pt-48">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eos rerum repudiandae eum incidunt nam qui
        voluptate cum cumque fugiat non numquam distinctio expedita dicta, quas nesciunt quod facere? Earum.
    </div>
</section>
<section>
    <div class="container py-24 flex gap-5">
        <app-button (click)="test()" name="Click Me" shade="D" animation="C"></app-button>
        <app-button (click)="test()" name="Sign In" size="M" shade="L" animation="C"></app-button>
        <app-button (click)="test()" name="Sign Up" size="L" shade="W" animation="C"></app-button>
        <app-button (click)="test()" name="Test"></app-button>
    </div>
</section>